<div class="col-lg-6">
    <h2>{{titulo}}</h2> 
    <div *ngIf="registerError">
        <div class="alert alert-warning" role="alert">
            {{registerError}}
        </div>
        </div>
        <div *ngIf="registerMessage">
        <div class="alert alert-info" role="alert">
            {{registerMessage}}
        </div>
        </div>
    <form #registryForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
        <p>
            <label>Nombre</label>
            <input type="text" #name="ngModel" [(ngModel)]="user.name" name="name" class="form-control" required />
        </p>
        <p>
            <label>Apellido</label>
            <input type="text" #surname="ngModel" [(ngModel)]="user.surname" name="surname" class="form-control" required />
        </p>
        <p>
            <label>Correo Electronico</label>
            <input type="email" #email="ngModel" [(ngModel)]="user.email" name="email" class="form-control" required />
        </p>
        
        <div class="image_for_edit" *ngIf="user.image && user.image != 'null'">
            <img src="{{url+'get-user-image/'+user.image}}" alt="" style="width: 100px;"/>
        </div>
        <p>
            <label>Sube tu foto:</label>
            <input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)" id="">
        </p>

        <input type="submit" value="Modificar" class="btn btn-primary">
    </form>
</div>