/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0px;
    height: 100%;
    background: #eee;
}
.central{
    width: 100%;
    overflow-y: scroll;
}

.seguro {
    margin-top: -32px;
    background: #222326;
    position: absolute;
    height: 40px;
}


.seguro-song{
    float: right;
    background: #eee;
    right: 10px;
    margin-top:-28px;
}


/*Detalle de ARTISTA Y ALBUM*/

#artist-head-card .artist-image,
#album-head-card .album-image{
    width: 170px;
    height: 170px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
    margin-top: 30px;
}

#artist-head-card .artist-image img,
#album-head-card .album-image img{
    width: 170px;
}

.artist_image_for_edit img,
.album_image_for_edit img{
    width: 150px;
}

.artist-list,
.album-list {
    margin: 0px;
    /*width: 100%;*/
    padding: 0px;
    margin-top: 30px;
    list-style: none;
    /*overflow-x: scroll; */
    min-height: 400px;
}

.artist-item,
.album-item {
    width: 23%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    height: 317px;
    border: 1px solid #444;
    margin-left: 20px;
    /*margin-top: 20px; */
}


.artist-item .artist-image,
.album-item .album-image{
    height: 245px;
    width: 100%;
    overflow: hidden;
    background: #222326;
}

.artist-item .artist-image img{
    height: 100%; 
}

.artist-item .artist-name,
.album-item .album-name {
    color: white;
    padding: 10px;
    background: #222326;
}

.artist-item .artist-name a,
.album-item .album-name a{
    color: white;
}

/* Estilos de ALBUM */

.album-item{
    height: 355px;
}

.album-item .album-image img{
    width: 100%;
}

/* Estilos de Cancion*/

#song-list{
    margin: 0px;
    padding: 0px;
}

.song-item{
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding-top: 3px;
}

.song-item .buttons{
    float: right;
}

.song-item .btn-success{
    margin-right: 10px;
}

.song-item .song-title{
    padding: 12px;
}

/* ESTILOS DE LOGUIN */

#singup {
    margin-top: 2%;
    margin-left: 5%;
}

#registerme {
    position: relative;
    float: right;
    margin-top: 2%;
    margin-right: 5%;
}

.navigation{
    text-align: center;
    color: white;
    background: #1c1c1f;
    height: 100%;
}

.navigation a{
    color:#ddd;
    margin-top: 20px;
    bottom:20px;
    display:block;
    text-decoration: none;
}

.navigation a:hover{
    color: white;
}

.navigation .glyphicon{
    font-size: 25px;
    display:block;
    width: 100%;
}

#user_logged{
    text-decoration: center;
    background: #1c1c1f;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #444;
    width: 75%;
}

#user_logged a:hover{
    color:#ddd;
    margin-top: 20px;
    bottom:20px;
    display:block;
    text-decoration: none;
}

#identity_name {
    text-transform: uppercase;
}

.head-title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    display:block;
}

/* PlAYER */
.player{
    background: #1C1C1f;
    position: fixed;
    width: 91%;
    bottom: 0;
    padding: 20px;
    margin-left:-15px;
    border-left: 1px solid #444;
    color: gray

}

.player .album-image{
    float:left;
    width: 138px;
    height: 105px;
    overflow: hidden;
}

.player .album-image img{
    height: 100%;
}

.player .audio-file{
    width: 85%;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
}

.player audio{
    width: 100%;
    height: 40px;
}